.media-content {
 width: 100%;
 height: 200px; 
 object-fit: cover; 
}

.image-skeleton .ant-skeleton-element{
 height: 100%;
 width: 100%;
}
.media-content-preview {
 width: 100%;
 height: 300px; 
 object-fit: cover; 
}

.mediaCard .ant-card-body{
  padding: 10px !important;
}

.skeleton-image-review .ant-skeleton-element{
  width: 100%;
  display: flex;
  justify-content: center;
}