@media screen and (min-width: 320px) and (max-width: 780px) {
    h3 {
        font-size: 20px !important;
    }

    .main-haeder {
        padding: 0 20px !important;
    }
        .card-container {
            width: 100% !important;
        }
    .thankyou-modal .ant-list-items {
        display: grid;
        grid-template-columns: 100% !important;
        gap: 5px;
    }

    .layout .ant-layout-content {
        height: calc(100vh - 64px) !important;
        padding: 10px 10px 0 10px !important;
    }

    .layout .site-layout-content {
        padding: 15px !important;
        /* transform: scale(1.05);
      margin-top: 19px; */
    }

    .ant-footer-inline {
        width: 100%;
    }

    .layout-header-row {
        justify-content: space-between !important;
    }

    .desktop-sidebar {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
        padding: 4px 10px;
    }

    .layout.ant-drawer,
    .ant-drawer-content-wrapper {
        width: 100% !important;
    }

    .layout .ant-drawer-title img {
        height: 35px;
    }

    .layout .ant-drawer-header-title {
        flex-direction: row-reverse;
    }

    .layout .ant-drawer-header-title img {
        width: auto !important;
    }

    .layout .ant-drawer-close {
        color: #00b48a;
        stroke: #00b48a;
        margin-right: 0;
    }

    .leave-btn {
        position: relative !important;
        top: unset !important;
        width: 100% !important;
    }

    .mbo-header .ant-typography.mb-50 {
        margin-bottom: 10px !important;
    }

    .mbo-header .select-employee {
        margin-bottom: 20px;
    }

    .mbo-tab .ant-card-head {
        padding: 0 15px !important;
    }

    .mbo-tab .ant-card-body {
        padding: 15px !important;
    }

    .mbo-detail .ant-card-body {
        padding: 20px !important;
    }

    .row-section .ant-row {
        display: flex !important;
    }

    .linkedin-members {
        display: flex;
        flex-direction: column;
    }

    .people-on-leave-btn {
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
    }

    .quotation-view.d-flex {
        display: block !important;
        margin-bottom: 10px;
    }

    .quot-header .mr-10 {
        margin-right: 0px !important;
    }

    .add-quot {
        margin: 10px 0 !important;
        width: 100%;
    }

    .quot-view .anticon-minus-circle {
        display: flex;
        justify-content: flex-end;
    }

    .quot-view .link-section {
        margin: 30px 0 20px;
    }

    .downloadable {
        white-space: pre-wrap;
    }

    .gap-10 {
        gap: 10px 0;
    }

    .table-extra-responsive {
        gap: 10px !important;
        flex-direction: column;
    }

    .grettings {
        display: none;
    }

    .sidebar .ant-menu.ant-menu-root {
        height: calc(100vh - 100px - 40px) !important;
    }

    .layout .ant-drawer-body ul li {
        margin: 15px 0 !important;
    }

    .twitter-timeline {
        width: 100vw !important;
    }

    #tree {
        padding-top: 60px;
    }

    .boc-search {
        left: 0 !important;
    }

    .hiring-list .ant-list-item {
        flex-direction: column;
        gap: 10px;
    }

    .hiring-list .ant-list-item .ant-list-item-meta {
        width: 100%;
    }
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
    .desktop-sidebar {
        display: none !important;
    }

    .ant-layout-header {
        padding: 0 30px !important;
    }

    .mobile-menu {
        display: block !important;
    }

    .layout-header-row {
        justify-content: space-between !important;
    }

    .grettings {
        display: none;
    }
}